CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
cmake-build-debug/
CMakeLists.txt
.idea/
assemble
simulate
dumpsim
*/*.obj
t
storeNums.asm
*/outputs/*
*/inputs/*
*/tests/*

